@page "/employeesoverview"
@attribute [StreamRendering(true)]


<h1>Employee Overview</h1>
@if(Employees == null){
  <h1>
    <em>Loading....</em>
  </h1>
} else {
  <table class="table table-light">
    <thead class="table-primary">
      <tr>
        <th></th>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var employee in Employees)
      {
        <tr>
          <td></td>
          <td>@employee.EmployeeId</td>
          <td>@employee.FirstName</td>
          <td>@employee.LastName</td>
          <td>
            <a href="/EmployeeDetail/@employee.EmployeeId" class="btn outline-primary btn-sm mb-1"> Detail</a>
          </td>
        </tr>
      }
    </tbody>

  </table>
}
